.asked {
    height: 10hv;
    background-color: black;
    padding: 25px 0px 25px 0px;
    text-align: center; 
}

.wrapper{
    background-color:black;
    display: flex;
    justify-content: center;
}
.collapsible{
    max-width: 700px;
    overflow: hidden;
    font-weight: 500;
    
}
.collapsible label{
    position: relative;
    font-weight: 600;
    background: #303030;
    color: white;
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 20px;
    z-index: 1;
    border: none;
    outline: none;
    font-size: 1.4rem;
}
.collapsible input{
    display: none;
}
.collapsible label::after{
    content: "";
    position: absolute;
    right: 15px;
    top: 20px;
    width: 18px;
    height: 18px;
    background: url(../img/plus.svg) no-repeat 0 0 ;
    transition: all 0.3s ease;
   

}
.collapsible input:checked + label:after{
    transform: rotate(45deg);
    

}
.collapsible-text{
    max-height: 1px;
    overflow: hidden;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.collapsible input:checked ~ .collapsible-text{
    max-height: 300px;
    padding-bottom: 18px;
    background: rgb(48, 48, 48);
    opacity: 1;
    top: 0;
    margin-bottom: 5px;

}

.collapsible-text p{
    padding: 20px 15px 10px 15px;
    color: white;
    font-size: 1.2rem;
}
.questions-bottom{
    background-color: black;
    padding: 20px 0px 25px 0px;
}
@media(max-width:750px){
    .collapsible{
        max-width: 90%;
    }
}